{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
      <link rel="stylesheet" href='{% static "css/menu.css" %}'>
</head>

<body>
    <nav class="navMenu">
      <a href="{% url 'app:guides' %}">Справочники</a>
      <a href="{% url 'app:transfers-to-client' %}">Перевод</a>
      <a href="{% url 'app:xl' %}">Отчеты</a>
      <a href="http://127.0.0.1:8000/admin/">Админ-панель</a>
      <div class="dot"></div>
    </nav>
</body>

</html>