{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
      <link rel="stylesheet" href='{% static "css/transfers-menu.css" %}'>
      {% block contentlink %}
      {% endblock %}
</head>

<body>
<nav class="menu">
  <ol>
    <li class="menu-item"><a href="{% url 'app:transfers-to-client' %}">Перевод физическому лицу</a></li>
    <li class="menu-item"><a href="{% url 'app:transfers-to-company' %}">Перевод юрпидическому лицу</a></li>
    <li class="menu-item"><a href="{% url 'app:transfers-analitics' %}">Статистика по переводам физ. лицам</a></li>
    <li class="menu-item"><a href="{% url 'app:transfers-analitics-to-company' %}">Статистика по переводам юр. лицам</a></li>
    <li class="menu-item"><a href="{% url 'app:menu' %}">Вернуться в меню</a></li>
  </ol>
</nav>

{% block content %}
{% endblock %}
</body>